<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="navbar">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/logodevpag.png" width="50" height="50" alt="" loading="lazy">
        </a><form class="form-inline"><a class="navbar-brand" href="#">
        <button class="btn btn-outline-light" type="button">Início</button>
        <button class="btn btn-outline-light" type="button">Suporte</button>
        <button class="btn btn-outline-light" type="button">Contato</button>
    </a>
    </form>
    </nav>
</div>
</body>
</html>