<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/assets/css/login.css">
</head>
<body>
    <header>
        <img src="/static/assets/img/logo.png" alt="logo" class="logo">
    </header>
    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="login" method="post">
                <div class="input-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" class="campo" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" class="campo" required>
                </div>
                <div class="form-group">
                    <button type="submit">Entrar</button>
                </div>
            </form>
            <a href="">Esqueceu sua senha?</a>
        </div>
        <img src="/static/assets/img/imagem_login.png" alt="imagem1">
    </main>
    <footer>
        &copy; 2024 DevPag. Todos os direitos reservados.
    </footer>
</body>
</html>