<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="shortcut icon" href="/assets/img/logodevpag.png" type="image/x-icon">
    </head>
<body>
    <header>
        <img src="/assets/img/logo.png" alt="logo" class="logo">
    </header>
    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="" method="post">
                <div class="input-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" class="campo" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" class="campo" required>
                </div>
                <div class="form-group">
                    <a href="/cad/responsavel"><button type="submit">Entrar</button></a>
                </div>
            </form>
            <p>Não possui uma conta?</p>
            <a href="/usuario/cadastro">Registre aqui</a>
        </div>
        <img src="/assets/img/imagem_login.png" alt="imagem1">
    </main>
    <footer>
        &copy; Todos os direitos reservados a empresa DevPag
    </footer>
</body>
</html>