
.navbar{
    background-color: #146C94;
}

.container-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: start;
}
.dropdown-toggle{
    width: 500px;
    text-align: center;
}
.dropdown-menu{
    width: 500px;
}
.btn{
   align-items: end;
}
.card-aluno{
    width: 500px;
    height: 500px;
    background-color: #1F9396;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0; /* Remove o border-radius da imagem interna */
}
footer{
    background-color: var(--cor-primaria);
    color:  var(--cor-quartenaria);
    padding: 1rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}